@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700&family=Neucha&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}
body {
	height: 100vh;
	background-color: #e5e5e5;
}
/* HEADER-SECTION */

.home--header {
	height: 311px;
	background-color: #081f3f;
	padding-top: 9.6875rem;
	padding-left: 14rem;
}

.home--header .home--title {
	font-size: 2rem;
	font-weight: 600;
	color: #fff;
}
.home--header .home--paragraph {
	font-size: 1rem;
	font-weight: 300;
	line-height: 2.8125rem;
	color: #fff;
}
.home--header .home--span {
	font-weight: 300;
	color: #0180c7;
}
/* =======================HERO-SECTION=========================== */
.hero--section {
	padding: 0 7rem;
}
.hero--wrapper {
	display: flex;
}
/* ===================LEFT-SIDE-BAR======================= */
.hero--container-left {
	flex: 1;
	margin-top: 3.125rem;
}

.hero--container-left img {
	width: 570px;
	height: 432px;
}
.hero--container-box {
	margin-top: 1.875rem;
}
.hero--container-paragraphs {
	margin-top: 0.75rem;
}
.hero--container-paragraphs p:not(:last-child) {
	margin-bottom: 1.875rem;
}
.hero--container-title {
	font-style: normal;
	font-weight: bold;
	font-size: 2.1875rem;
	color: #0180c7;
}
.hero--container-paragraphs p {
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.625rem;
	color: #333333;
}
.hero--container-paragraphs .span-box {
	width: 507px;
	height: 65px;
}
.span-box span {
	font-weight: bold;
	font-size: 1rem;
	color: #333;
}
/* FORM-SECTION-CURRENCY */
.form--section {
	width: 77%;
}
.form--parent,
.form--cash-box {
	display: flex;
	flex-direction: column;
}
.form--container,
.form--box {
	display: flex;
	flex-direction: column;
}
.form--container:first-child {
	margin-top: 2.1875rem;
}
.form--container label,
.form--box label {
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.1875rem;
	color: #333333;
	width: 49ch;
}
.form--container input,
.form--box input {
	width: 470px;
	height: 55px;
	color: #333;
	background: #f1f1f1;
	border: 1px solid #c2c2c2;
	margin: 0.9375rem 0;
	outline: none;
	padding-left: 0.625rem;
	font-size: 1em;
}
.form-liabilities {
	margin-top: 2.5rem;
}
.form-liabilities h2 {
	margin-bottom: 0.75rem;
	font-style: normal;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.5rem;
	color: #0180c7;
}
/* ===============================RIGHT-SIDE-BAR=========================== */
.hero--container-right {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-top: 3.125rem;
}

/* BOX-LIST*/
.hero--container-right {
	display: flex;
}
.hero--container-border {
	width: 404px;
	height: 496px;
	border: 1px solid #38abf7;
	margin-left: 8.125rem;
	padding: 1.5625rem 3.375rem;
}

.hero--container-item {
	padding: 0.9375rem 0;
	border-bottom: 1px solid #dbdbdb;
}
.hero--container-item span {
	font-style: normal;
	font-weight: 600;
	font-size: 1.125rem;
	line-height: 1.375rem;
	color: #333333;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
}
.hero--container-item span:hover {
	color: #000;
}

.hero--container-item:hover {
	color: #000;
	border-bottom: 1px solid #000;
	transition: all 0.1s ease-in-out;
}
.hero--container-item:active {
	color: #0180c7;
}

.hero--container-wrapper {
	margin-top: 5.3125rem;
	margin-left: 1.875rem;
}
.hero--container-image-box {
	width: 100%;
	height: 122px;
	background: #c9ecff;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	place-items: center;
}
.form--container-cash {
	margin-top: 6.125rem;
}
.Cash--title {
	font-style: normal;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 24px;
	color: #0180c7;
	margin-bottom: 0.9375rem;
}
.form--trade {
	margin-top: 3.125rem;
}
.form--trade h2 {
	font-style: normal;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.5rem;
	color: #0180c7;
	margin-bottom: 0.9375rem;
}
.form--container-donate {
	margin-top: 0.9375rem;
}
.container {
	display: flex;
	gap: 32px;
}
.form--container-calculate {
	flex: 1;
}
.form--container-reset {
	flex: 1;
}
.form--container-calculate button,
.form--container-reset button,
.btn--donate {
	width: 100%;
	height: 50px;
	background: #0180c7;
	border: none;
	color: #f8f8f8;
}
.form--container-calculate button:hover,
.form--container-reset button:hover,
.btn--donate:hover {
	background: #b9b9b9;
	transition: all 0.2s ease-in-out;
}
.form--container-donate {
	width: 470px;
	height: 221px;
	display: flex;
	flex-direction: column;
}

.total-assets .span--assets {
	font-style: normal;
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.1875rem;
	color: #152e84;
}
.total-assets .span--payble {
	font-style: normal;
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.1875rem;
	color: #0180c7;
}
.total-assets h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 1.375rem;
	line-height: 1.6875rem;
	color: #102361;
	margin-top: 0.9375rem;
}
.total-assets {
	text-align: center;
	width: 100%;
	padding: 1.875rem 3.6875rem;
}
/* FOOTER-SECTION */
.footer--section {
	background-color: #18307f;
	height: 15.25rem;
	margin-top: 7.75rem;
	display: flex;
}
.footer--section footer {
	margin: auto;
	font-style: normal;
	font-weight: 600;
	font-size: 3.25rem;
	line-height: 3.9375rem;
	color: #ffffff;
}
